<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            margin: 0;
  background: radial-gradient(#0c855c, #1aa121);
        }
        h1{
            position: relative;
            left:45%;
            margin-top:5%;
            color:white;
            font-family: fantasy;
        }
        button{
            position: relative;
            margin-top:25%;
            left:46%;
            padding:10px;
            border-radius: 10px;
        }
    </style>
    <title>Photo</title>
</head>
<body>
    <h1>
        Clickzzzzzz
    </h1>
   <button>
       <a href="/users/sign-in">Sign in</a>
    </button> 
    <button>
        <a href="/users/sign-up">Sign up</a>
    </button>
</body>
</html>