<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickzz</title>
    <style>
            body{
            margin: 0;
            background: radial-gradient(circle,#0689e0, #1fdbdb);
            }
            h1{
            color:white;
            }
            h1{
                position: relative;
                left:30%;
            }
            button{
                position: relative;
                left:30%;
            }
    </style>
</head>
<body>
   <h1>
    Post a Task
   </h1>
   <button>
       <a href="/users/add">Clickzzztask</a>
   </button>
   <h1>
    Evaluate Tasks
   </h1>
   <button>
       <a href="/users/evaluate">Evaluate</a>
   </button>
</body>
</html>